<nav class="navbar no-bottom-margin navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Event Store On Call Schedule Manager</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <!--ko if: canSave-->
                <li data-bind="click: addSelectedDates"><a href="javascript:void(0)">Add Selected Dates</a></li>
                <li data-bind="click: removeSelectedDates"><a href="javascript:void(0)">Remove Selected Dates</a></li>
            <!--/ko-->
            <!--ko if: isLoggedIn()-->
                <li data-bind="click: function(){canLogin(false)}"><a href="javascript:void(0)">Logout</a></li>
                <!--ko ifnot: showTickets()-->
                    <li data-bind="click: function(){showTickets(true)}"><a href="javascript:void(0)">Show Tickets</a></li>
                <!--/ko-->
                <!--ko if: showTickets()-->
                    <li data-bind="click: function(){showTickets(false)}"><a href="javascript:void(0)">Hide Tickets</a></li>
                <!--/ko-->
            <!--/ko-->
            <p class="navbar-text">Active Tickets: <span data-bind="text: ticketsActive"></p>
            <p class="navbar-text">Tickets Nearing SLA: <span data-bind="text: ticketsActive"></p>
            <p class="navbar-text">Currently OnCall: <span data-bind="text: currentlyOnCall"></span></p>
        </ul>
        
    </div>
</nav>
<!--ko if: errorMessages.Length == 0-->
<div class="container bar-small">
    <div class="alert " role="alert" data-bind="css: {'alert-danger': $parent.isSuccess() == false, 'alert-success': $parent.isSuccess() == true}">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span data-bind="text: errorMessages[errorMessages.Length()]"></span>
    </div>
</div>
<!--/ko-->

<div class="container bar-small">
</div>
<!--ko ifnot: isLoading()-->
<div class="container main-override">
    <!--ko if: isLoggedIn()-->
    <div class="row">
        <!--ko ifnot: showTickets()-->
            <div class="col-md-4">
                <support-agents-widget params="{ selectedCallback: agentSelectionChanged }"></support-agents-widget>
            </div>

            <div class="col-md-8">
                <calendar-widget params="{ selectedCallback: dateSelectionChanged }"></calendar-widget>
            </div>
        <!--/ko-->
        <!--ko if: showTickets()-->
            <div class="col-md-12">
                <ticket-widget></ticket-widget>
            </div>
        <!--/ko-->
    </div>
    <!--/ko-->
    <!--ko ifnot: isLoggedIn()-->
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <login-widget params="{ selectedCallback: canLogin}"></login-widget>
        </div>
        <div class="col-md-4"></div>
    </div>
    <!--/ko-->

</div>
<!--/ko-->

<!--ko if: isLoading()-->
	<h1>Fetching Data - Please Wait.</h1>
<!--/ko-->